
	@media screen and (max-width: 768px) {}
	@media screen and (max-width: 991px) {
		header{
		min-height: 50px;
		width: 100% !important;
		background-color: white;
		box-shadow: 0px 0px 4px 4px #bbb9b9;
		}
		body{
			background-color: #e2e2e4;
			margin: 0px;
		}
		.mySVG{
			height: 50px;
			width: 50px;
		}
		.avatar{
			height: 48px;
		    width: 42px;
		    font-size: 35px !important;
		    border: 1px solid blue;
		    border-radius: 60%;
		    margin: 0 !important;
		}
		.content{
			margin: 5% 15% 5% 15%;
			box-shadow: 0px 0px 4px 4px #bbb9b9;
			min-height: 400px;
			background-color: white;
		}
		#contentTitle{
			padding: 5px 30px 20px 30px;
			font-size: 20px;
		}
		.contentTop{
			background: #efeeee;
		    padding: 14px 15px 0px 15px;
		    border-bottom: 1px solid #bdbbbb;
		}
		.itemsHead{
			padding:15px;
		}
		.itemsHead span{
		    font-weight: bold;
		    margin: 28px;
		    font-size: 16px;
		    font-family: Roboto, Helvetica, sans-serif;
		}
		#logo{
			color: #2a6d84;
			font-size: 30px;
	    	font-weight: bold;
		}
		.active{
			color: #2a6d84;
		}
		.tab{
			color: #2a6d84;
			margin-left: 35px;
    		font-weight: 600;
		}
		
		.contentTop .active {
			border-bottom: 4px solid #2a6d84;
		}


		.dropdown {
		  position: relative;
		  display: inline-block;
		}

		.dropdown-content {
		  /*display: none;*/
		  position: absolute;
		  background-color: #f1f1f1;
		  min-width: 260px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		  right: 0;
		  top: 45px;
		  visibility: hidden;
		  opacity: 0;
		  transition-property: opacity, visibility;
		  transition-duration: 2s, 1s;
		  transition-delay: 0s, 2s;
		}

		.dropdown-content a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		  border-top: 1px solid #d8d5d5;
		}



		.dropdown-content a:hover {background-color: #2a6d84; color: white;}

		.dropdown:hover .dropdown-content {/*display: block;*/
		  /*top: 45px;*/
		  visibility: visible;
		  opacity: 1;
		  transition-delay: 0s, 0s;
		}
	}
	@media screen and (min-width: 992px) {
		header{
		min-height: 50px;
		width: 100% !important;
		background-color: white;
		box-shadow: 0px 0px 4px 4px #bbb9b9;
		}
		body{
			background-color: #e2e2e4;
			margin: 0px;
		}
		.mySVG{
			height: 50px;
			width: 50px;
		}
		.avatar{
			height: 48px;
		    width: 42px;
		    font-size: 35px !important;
		    border: 1px solid blue;
		    border-radius: 60%;
		    margin: 0 !important;
		}
		.content{
			margin: 5% 15% 5% 15%;
			box-shadow: 0px 0px 4px 4px #bbb9b9;
			min-height: 400px;
			background-color: white;
		}
		#contentTitle{
			padding: 5px 30px 20px 30px;
			font-size: 20px;
		}
		.contentTop{
			background: #efeeee;
		    padding: 14px 15px 0px 15px;
		    border-bottom: 1px solid #bdbbbb;
		}
		.itemsHead{
			padding:15px;
		}
		.itemsHead span{
		    font-weight: bold;
		    margin: 28px;
		    font-size: 16px;
		    font-family: Roboto, Helvetica, sans-serif;
		}
		#logo{
			color: #2a6d84;
			font-size: 30px;
	    	font-weight: bold;
		}
		.active{
			color: #2a6d84;
		}
		.tab{
			color: #2a6d84;
			margin-left: 35px;
    		font-weight: 600;
		}
		
		.contentTop .active {
			border-bottom: 4px solid #2a6d84;
		}


		.dropdown {
		  position: relative;
		  display: inline-block;
		}

		.dropdown-content {
		  /*display: none;*/
		  position: absolute;
		  background-color: #f1f1f1;
		  min-width: 260px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		  right: 0;
		  top: 45px;
		  visibility: hidden;
		  opacity: 0;
		  transition-property: opacity, visibility;
		  transition-duration: 2s, 1s;
		  transition-delay: 0s, 2s;
		}

		.dropdown-content a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		  border-top: 1px solid #d8d5d5;
		}



		.dropdown-content a:hover {background-color: #2a6d84; color: white;}

		.dropdown:hover .dropdown-content {/*display: block;*/
		  /*top: 45px;*/
		  visibility: visible;
		  opacity: 1;
		  transition-delay: 0s, 0s;
		}

		/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/
	}